@font-face {
    font-family: "Jersey 10";
    src: url("/font/Jersey10-Regular.ttf");
}

#left-bar{
    -fx-background-color: #707070;
}

#left-bar-button{
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.8;
    -fx-cursor: hand;
    -fx-font-family: "Jersey 10";
}

#left-bar-button:hover{
    -fx-background-color: #767676;
    -fx-opacity: 1.0;
}

#body-bar-compte{
    -fx-background-color: #828282;
}

#compte-param-titre{
    -fx-font-family: "Jersey 10";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#compte-param-text{
    -fx-font-family: "Jersey 10";
    -fx-text-fill: white;
    -fx-font-size: 18;
}

#compte-param1-button{
    -fx-font-family: "Jersey 10";
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: #727272;
    -fx-cursor: hand;
}

#compte-param1-button:hover{
    -fx-font-family: "Jersey 10";
    -fx-font-size: 18;
    -fx-background-color: #94b673;
}

#compte-param2-button{
    -fx-font-family: "Jersey 10";
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: #727272;
    -fx-cursor: hand;
}

#compte-param2-button:hover{
    -fx-font-family: "Jersey 10";
    -fx-font-size: 18;
    -fx-background-color: #c74a4a;
}


#body-bar-langage{
    -fx-background-color: #828282;
}

#langage-param-titre{
    -fx-font-family: "Jersey 10";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#langage-param-text{
    -fx-font-family: "Jersey 10";
    -fx-text-fill: white;
    -fx-font-size: 18;
}

#langage-param1-button{
    -fx-font-family: "Jersey 10";
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: #727272;
    -fx-cursor: hand;
}

#langage-param1-button:hover{
    -fx-font-family: "Jersey 10";
    -fx-font-size: 18;
    -fx-background-color: #94b673;
}

#langage-param2-button{
    -fx-font-family: "Jersey 10";
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: #727272;
    -fx-cursor: hand;
}

#langage-param2-button:hover{
    -fx-font-family: "Jersey 10";
    -fx-font-size: 18;
    -fx-background-color: #c74a4a;
}
